.events-section {
    max-width: 100%;
    margin: 0rem auto;
    padding: 1rem 2rem;
    /* background: #c03434; */
    /* border: 1.5px solid #f7c9dd; */
    /* border-radius: 16px; */
    box-shadow: 0 6px 18px rgba(214, 51, 132, 0.08);
}

.section-title {
    font-size: 1.8rem;
    color: #F15A29;
    margin-bottom: 1.5rem;
    text-align: center;
    background: #fff;
    padding: 5px 20px;
    width: fit-content;
    margin: 2rem auto;
    box-shadow: 06px 6px 10px #f15b2955;
    border-radius: 10px;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-direction: column; */
    gap: 2rem;
}

.event-card {
    background: #ffffff52;
    /* border: 1px solid #f3c5d7; */
    border-radius: 16px;
    /* overflow: hidden; */
    box-shadow: 6px 6px 14px rgba(173, 173, 173, 0.299);
}

/* .event-card:hover {
    transform: translateY(-4px);
} */

.event-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 10px;
}


.event-info {
    padding: 10px 1.5rem;
    width: 100%;
}

/* .event-agenda .speaker-inline {
    color: rgb(41 168 241);
} */

.event-title {
    font-size: 20px;
    font-weight: 600;
    color: #555;
    text-align: start;
    margin-bottom: 0.6rem;
    margin-top: 0px;
}

.event-datetime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid gray; */
    box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.285);
    padding: 7px 10px;
    border-radius: 10px;
    margin: 5px 0;
    background: #fff;
}

.event-datetime ion-icon {
    color: #f15a29;
    font-size: 20px;
}

.event-datetime,
.event-location {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0.3rem;
}

.event-agenda {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #555;
    margin-top: 0.8rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .event-info {
        padding: 1rem;
    }

    .event-title {
        font-size: 1.2rem;
        margin-top: 0px;
    }
}

.event-actions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn.register {
    background-color: #d63384;
    color: white;
}

.btn.register:hover {
    background-color: #be2e74;
}

.btn.unregister {
    background-color: #f8d7e0;
    color: #d63384;
}

.btn.unregister:hover {
    background-color: #f4c1d3;
}

.certImage {
    cursor: pointer;
}

.event-card {
    opacity: 0;
    transform: scale(0.4);
    transition: all 0.7s ease;
}

/* Animation */
.event-card.show {
    opacity: 1;
    transform: scale(1);

}

.event-card.show:hover {
    transform: scale(1.02);
}

@media (max-width: 1020px) {
    .event-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .event-list {
        display: flex;
        flex-direction: column;
    }
}



