* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: url("../background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.forgot-container {
    /* background: #ffe6f0; */
    padding: 10px 20px;
    border-radius: 14px;
    /* border: 1px solid #fcb6d6; */
    /* box-shadow: 0 12px 30px rgba(255, 105, 180, 0.25); */
    width: 100%;
    max-width: 440px;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forgot-container:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 40px rgba(105, 190, 255, 0.35);
}

.forgot-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forgot-form h2 {
    margin-bottom: 1.2rem;
    text-align: center;
    color: #f15a29;
    font-weight: 700;
    font-size: 30px;
}

.forgot-form p {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.2rem;
}

.forgot-form input {
    padding: 0.6rem 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    background-color: #ececec96;
    color: #555;
    transition: border-color 0.3s, box-shadow 0.2s;
}

.forgot-form input:focus {
    outline: none;
    /* border-color: #d63384; */
    border: 1px solid #f15a29;
    /* box-shadow: 0 0 0 3px rgba(214, 124, 51, 0.2); */
}

.forgot-form input::placeholder {
    color: #555;
}

.forgot-form button {
    padding: 0.6rem;
    background-color: #f15a29;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.forgot-form button:hover {
    background-color: #ba4924;
}

.back-login {
    text-align: center;
    font-size: 0.85rem;
}

.back-login a {
    color: #f15a29;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-login a:hover {
    color: #ba4924;
}




.radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.radio-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #333;
}

.radio-option input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #f15a29;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease;
    margin-block: 0px;
    padding: 0px;
}

.radio-option input[type="radio"]:checked::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f15a29;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.radio-option input[type="radio"]:hover {
    border-color: #b7286e;
}

.img-container {
    width: 30%;
    height: 100%;
    position: relative;
    background: linear-gradient(#F15A29, #f1295c);
    border-radius: 0 20px 20px 0;
}

.img-container img {
    width: 500px;
    height: 70vh;
    position: absolute;
    bottom: 0px;
    right: 10px;

}

.login_parent_container {
    width: 65vw;
    height: 60vh;
    padding: 0px 0 0 40px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 16px 40px rgb(105 139 255 / 35%);
}

@media (max-width: 1450px) {
    .login_parent_container {
        /* justify-content: center; */
        width: 70%;
    }

    /* .img-container {
    display: none;
} */
}

@media (max-width: 1020px) {
    .login_parent_container {
        /* justify-content: center; */
        width: 90%;
    }

    /* .img-container {
    display: none;
} */
}

@media (max-width: 768px) {
    .login_parent_container {
        justify-content: center;
        width: 90%;
        padding: 20px;
    }

    .img-container {
        display: none;
    }
}