.forum {
    max-width: 800px;
    margin: auto;
    background: transparent;
    padding: 0 2rem;
    /* border-radius: 12px; */
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05); */
}

.forum>h2 {
    box-shadow: 5px 5px 10px #f15b295d;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px auto 20px;
}

h2 {
    text-align: center;
    color: #F15A29;
    margin-bottom: 2rem;
}

.topic {
    border: 1px solid #f6a585;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #efc4e3, #e9beae);
    align-items: end;
    /* box-shadow: 0 0 10px ; */
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
    /* opacity: 0;
    transform: scale(0.5);
    transition: all .5s ease-in-out; */
}

/* .topic.show{
    opacity: 1;
    transform: scale(1);
} */


.topic-header {
    width: 100%;
    background: transparent;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.topic-meta {
    font-size: 0.7rem;
    color: #666;
    font-weight: normal;
}

.topic-body {
    display: none;
    width: 100%;
    padding: 1rem;
    /* background: #ffffff; */
    color: #000;
    /* margin: auto; */
    /* border-left: 2px solid #F15A29; */
}

.topic-body.active {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 20px;
    /* background: yellow; */
}

.comment {
    /* border-bottom: 1px solid #fff; */
    padding: 0.5rem 0;
    background: #FFFFFF;
    /* border: 1px solid #faa78c; */
    /* box-shadow: 0 0 5px #ffffff76; */
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
}

.comment:last-child {
    border-bottom: none;
}

.comment-meta {
    font-size: 0.7rem;
    color: #888;
    margin-bottom: 0.3rem;
}

.comment-form,
.new-topic-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

button {
    background-color: #F15A29;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}


/*pagination*/
.forum-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.pager-btn {
    padding: 8px 16px;
    border: 1px solid #ee8764;
    background-color: #fce4ec;
    color: #F15A29;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pager-btn:hover:not(:disabled) {
    background-color: #f0c2b3;
}

.pager-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pager-btn.active {
    background-color: #F15A29;
    color: white;
    border-color: #F15A29;
}


/*search bar*/
.forum-search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 8px;
    flex-wrap: wrap;
}

.forum-search-box-container {
    width: 100%;

    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.forum-search-input {
    padding: 10px 14px;
    border: 2px solid #F15A29;
    border-radius: 20px 0 0 20px;
    width: 60%;
    height: 45px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    z-index: 2;
    padding: 10px 20px 10px 15px;
}

.forum-search-input:focus {
    border-color: #F15A29;
    box-shadow: 0 0 5px rgba(214, 51, 132, 0.3);
}

.forum-search-btn {
    /* position: absolute;
    right: 105px; */
    padding: 10px 20px;
    background: linear-gradient(90deg, #F15A29, #f3a528);
    border: none;
    height: 45px;
    width: 100px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    border: 1px solid #F15A29;
    transition: all .5s ease;
    z-index: 3;
    border-radius: 0 20px 20px 0;
}

.forum-search-btn:hover {
    background-color: #d95225;

}

.topicTitle {
    display: flex;
    justify-content: space-between;
    color: #F15A29;
}

.topicDescription {
    margin-top: 5px;
    font-weight: 400;
    font-size: 1rem;
}

.topicName {
    background: linear-gradient(90deg, #FF561F, #F71A4D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.commentHeader {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.deleteComment {
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
    cursor: pointer;
}

.newComment {
    resize: vertical;
    height: 150px;
}

.commentActions {
    display: flex;
    justify-content: start;
    gap: 0.6rem;
}

.commentImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.topic-body .commentImage {
    width: auto;
    height: 300px;
}


.forum-search-back {
    padding: 10px 16px;
    background-color: #fce4ec;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: 1px solid #f06292;
}

.forum-search-back:hover {
    background-color: #ad245f;
}

#topicTitle,
#topicDescription {
    border: 1px solid #F15A29;
}

.forumPopUpGenerater{
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: linear-gradient(60deg, #ef4100, #ef00ae);
    color: #fff;
    cursor: pointer;
}

.forumPopUpGenerater ion-icon{
    font-size: 25px;
}

.new-topic-form{
    width: fit-content;
    padding: 40px;
    position: fixed;
    left: 50%;
    gap: 20px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    /* transform: translateY(-50%); */
    z-index: 1001;
    background: #fff;
    border-radius: 10px;
}
