<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Back To Basics</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="Dashboard.css">
    <link rel="stylesheet" href="Help.css">
    <script src="jquery.js"></script>
    <script src="common.js"></script>
    <script src="Help.js"></script>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" type="text/css" 
      href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/> -->
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div id="hamburger" class="hamburger" onclick="toggleSidebar()">☰</div>
            <div class="header-right">
                <div id="notifications" class="icon-btn" onclick="toggleNotificationsDropdown(event)">
                    🔔
                    <span class="badge" id="notifCount">3</span>
                    <div id="notificationsDropdown" class="notifications-dropdown">
                        <h4>Unread Notifications</h4>
                        <ul class="notificationList">
                        </ul>
                    </div>
                </div>
                <div class="icon-btn" title="Help"
                    onclick="location.href='Help.html'">❓</div>
                <div class="icon-btn" title="Account Settings" onclick="location.href='Settings.html'">⚙️</div>
                <div class="icon-btn" title="Menu" onclick="toggleMenu(function (isVisible) {});">🛠️</div>
            </div>
        </header>

        <div class="content-wrapper">
            <aside id="sidebar" class="sidebar">
                <img src="../B2B-LAB-Logo.png" alt="Logo" class="logo" />
                <nav>
                    <a href="Dashboard.html"><span><i class='bx bxs-home'></i></span>
                        Dashboard</a>
                    <a href="Courses.html"><span><i class='bx bxs-book-bookmark'></i></span> Courses</a>
                    <a href="Certificates.html"><span><i class='bx bxs-book-content'></i></span> Certificates</a>
                    <a href="Events.html"><span><i class='bx bxs-calendar'></i></span> Events</a>
                    <a href="Forum.html"><span><i class='bx bxs-chat'></i></span> Forum</a>
                    <a href="JobPortal.html"><span><i class='bx bxs-briefcase'></i></span> Job Portal</a>
                    <a href="GigHzAI.html"><span><i class='bx bx-world'></i></span>AI</a>
                </nav>
            </aside>

            <main class="main">

                <section class="help-support">
                    <h2 class="section-title">Help & Support</h2>
                    <div class="helpAndSupportHead">
                        <div class="suport-footer-cont">
                            <div class="support-footer">
                                <!-- <p>Still need help?</p>     -->
                                <button class="contact-btn">Contact Support</button> <br>
                                <button class="contact-tickets">My Tickets</button>
                            </div>
                            <button class="contact-footer-btn"><img src="../Icons/help.png" alt="" width="70px"></button>
                        </div>

                        <div class="help-search">
                            <p></p>
                            <div class="help-search-input-container content_searcher">
                                <ion-icon name="search-outline"></ion-icon>
                                <input type="text" placeholder="Search help articles" id="text-search" />
                            </div>

                        </div>
                    </div>

                    <div class="faq-list">

                    </div>
                </section>



                <section class="help-support help-tickets">
                    <!-- <h2 class="section-title">My Tickets</h2> -->
                    <!-- <div class="course-search-box content_searcher">
                        <ion-icon name="search-outline"></ion-icon>
                        <input type="text" id="searchInput" placeholder="Search...">
                    </div> -->
                    <!-- <input type="text" id="searchInput" placeholder="Search..."
                        style="margin-bottom:10px; padding:5px; width:250px;"> -->
                    <div class=" help-ticket">

                    </div>
                    <div class="support-footer">
                        <button class="contact-btn-back">Back to Help</button>
                    </div>
                </section>

            </main>

        </div>
        <section class="help-support help-contact model">
            <h2 class="section-title">How can we help?</h2>
            <div class="help-search">
                <input type="text" placeholder="Subject" id="text-subject" maxlength="50" />

            </div>
            <div class="help-search">
                <textarea placeholder="Issue in detail" id="text-issue" maxlength="1000"></textarea>
            </div>
            <div class="support-footer">
                <p>We will get back to you soon</p>
                <button class="contact-btn-submit">Submit</button>
                <button class="contact-btn-cancel">Cancel</button>
            </div>
        </section>
    </div>
    <div class="help-model model" style="display: none;">
       
    </div>
    <!-- <div class="overlay"></div> -->
    <div class="overlay" id="overlay" onclick="closeSidebar()"></div>
    <script src="Layout.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
</body>

</html>