* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.reset_parent_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-container {
    /* background: #ffe6f0; */
    padding: 1.8rem 2rem;
    border-radius: 14px;
    /* border: 1px solid #fcb6d6; */
    /* box-shadow: 0 12px 30px rgba(255, 105, 180, 0.25); */
    width: 100%;
    max-width: 340px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reset-container:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 40px rgba(105, 165, 255, 0.311);
}

.reset-form {
    display: flex;
    flex-direction: column;
}

.reset-form h2 {
    margin-bottom: 1.2rem;
    text-align: center;
    color: #f15a29;
    font-weight: 700;
    font-size:30px;
}

.reset-form p {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.2rem;
}

.reset-form input {
    padding: 0.6rem 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    background-color: #ececec96;
    color: #555;
    transition: border-color 0.3s, box-shadow 0.2s;
}

.reset-form input:focus {
    outline: none;
    border:1px solid #f15a29;
    /* box-shadow: 0 0 0 3px rgba(214, 51, 132, 0.2); */
}

.reset-form input::placeholder {
    color: #555;
}

.reset-form button {
    padding: 0.6rem;
    background-color: #f15a29;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.reset-form button:hover {
    background-color: #c14921;
}

.back-login {
    text-align: center;
    font-size: 0.85rem;
}

.back-login a {
    color: #f15a29;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-login a:hover {
    color: #bc4720;
}

.img-container {
    width: 30%;
    height: 100%;
    position: relative;
    background: linear-gradient(#F15A29, #f1295c);
    border-radius: 0 20px 20px 0;
}

.img-container img {
    width: 500px;
    height: 70vh;
    position: absolute;
    bottom: 0px;
    right: 10px;

}

.reset_parent_container {
    width: 60vw;
    height: 60vh;
    padding: 0px 0 0 40px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 16px 40px rgb(105 139 255 / 35%);
}

@media (max-width: 1450px) {
    .login_parent_container {
        /* justify-content: center; */
        width: 70%;
    }

    /* .img-container {
    display: none;
} */
}

@media (max-width: 1020px) {
    .login_parent_container {
        /* justify-content: center; */
        width: 90%;
    }

    /* .img-container {
    display: none;
} */
}

@media (max-width: 768px) {
    .login_parent_container {
        justify-content: center;
        width: 90%;
        padding: 20px;
    }

    .img-container {
        display: none;
    }
}